BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
AlignEscapedNewlines: Left
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BitFieldColonSpacing: Both
EmptyLineBeforeAccessModifier: Always
SpacesBeforeTrailingComments: 2
SortIncludes: false
IndentCaseLabels: true
PointerAlignment: Left
NamespaceIndentation: All
